[submodule "ThirdParty/glslang"]
	path = ThirdParty/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "ThirdParty/stb"]
	path = ThirdParty/stb
	url = https://github.com/nothings/stb.git
[submodule "ThirdParty/tinygltf"]
	path = ThirdParty/tinygltf
	url = https://github.com/syoyo/tinygltf
